.slick-slider {
    height: 100%!important;
    margin-bottom: -30px;
}
.slick-dots {
    position: relative!important;
}
.top-slider {
    padding: 0!important;
}
.s1{
    background:url(./slide1.jpg) center no-repeat #000;
    background-size:cover;
}
.s2{
    background:url(./slide2.jpg) center no-repeat #000;
    background-size:cover;
}
.s3{
    background:url(./slide3.jpg) center no-repeat #000;
    background-size:cover;
}
.s4{
    background:url(./slide4.jpg) center no-repeat #000;
    background-size:cover;
}
.s5{
    background:url(./slide5.jpg) center no-repeat #000;
    background-size:cover;
}

.showing{
    opacity:1;
    z-index:2
}
