@media (max-width: 1300px){
    .icon_info {
        margin-left: 20px;
    }
}

@media (max-width: 1210px){
    footer {
        padding: 50px 40px 40px;
    }
    .footer-row {
        justify-content: flex-start;
    }
    .footer-menu {
        padding-left: 0;
    }
    .icon_info p{
       font-size: 12px;
    }
    .icon_info {
        margin-left: 10px;
    }
}

@media (max-width: 1047px) {
    footer {
        padding: 40px 30px 40px;
    }
    .contacts2 {
        font-size: 11px;
        line-height: 1.6em;
    }
    .contacts1 {
        margin-top: 10px;
    }
    .footer-menu {
        padding-left: 0;
    }
    .price-btn {
        margin-top: 15px;
    }
    .box {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .model-nav, .item-model-cont {
        margin-left: 0;
        padding: 0 20px;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mod {
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
    }
    .mod p {
        text-align: center;
    }
    .search {
        display: none;
    }
    .rang1 {
        margin-top: 40px;
        margin-left: 30px;
    }
    .models {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .res-btn {
        margin: 30px auto;
        display: block;
        width: 110px;
    }
    .company_info, .icons_block {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about_block .row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .icons_block {
        margin-top: 40px;
    }
    .company_info {
        margin-top: 20px;
    }
    .icon_info p{
        font-size: 14px;
    }
}


@media (max-width: 767px) {
    .info-title {
        display: none;
    }
    .text-info {
        padding-top: 35px;
    }
    .footer-menu, .contacts1 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .contacts2 {
        display: none;
    }
    .footer-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    main {
        padding: 0;
    }
}

@media (max-width: 745px) {
    .contacts1 {
        display: none;
    }
    .footer-menu {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .footer-row {
        justify-content: space-around;
    }
    .logo-top {
        display: none;
    }
    .main-menu {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .about_block {
        padding: 0 40px 50px;
    }
}

@media (max-width: 495px) {
    .main-menu {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .top-info {
        display: none;
    }
    .header-link {
        display: block;
        letter-spacing: 0.1em;
        font-size: 16px;
        margin: 0 auto;
    }
    .top-slider {
        display: none;
    }
    .text-info {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }
    .info-title {
        display: block;
        margin-top: 20px;
    }
    .box, .footer-menu {
        text-align: center;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .boxes .box {
        height: 200px;
    }
    .footer-menu li{
        font-size: 16px;
    }
    .mod {
        display: block;
        margin-right: 0;
        text-align: left;
    }
    .mod p {
        text-align: left;
    }
    .rang1 {
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .item-model-cont {
        text-align: center;
    }
    .icons_block {
        margin-top: 20px;
        padding-top: 0;
    }
    .company_info {
        margin-top: 0;
    }
    .title1 {
        margin-top: 30px;
    }
    .top-line {
        padding: 0;
    }
    .text-info {
        padding-top: 0;
    }
    .bath-info {
        margin: 50px 10px 20px;
    }
    .footer-menu ul {
        padding-left: 0;
    }
    footer {
        padding: 20px;
    }
    .about_block {
        padding: 20px;
    }
    .company_info .about_title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .title1 p {
        margin-top: -3px;
    }
    .sort-inf {
         margin-right: 0;
        padding-right: 20px;
    }
    .cort-info {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .mod {
        font-size: 18px;
    }
    input[type=checkbox]+span {
        width: 18px;
        height: 18px;
    }
    .item-model-cont .item-model .item-info, .item-price {
        font-size: 14px;
    }
    .item-model-cont .item-model .item-title {
        font-size: 16px;
    }
}